<% layout('layout') %>

<div class="row">
  <div class="col-md-6">
    <h2>Google Authenticator</h2>
    <div class="list-group">
      <a class="list-group-item" href="/google-authenticator/two_factor_auth">Two Factor Authentication</a>
    </div>
  </div>

  <div class="col-md-6">
    <h2>Form</h2>
    <div class="list-group">
      <a class="list-group-item" href="/form/signup">Sign up</a>
      <a class="list-group-item" href="/form/login">login</a>
      <a class="list-group-item" href="/form/logout">logout</a>
    </div>
  </div>
</div>

