<% layout('layout') %>

<div class="row">
  <div class="col-md-6">
    <h2>Google Authenticator</h2>
    <div class="list-group">
      <a class="list-group-item" href="/google-authenticator/two_factor_auth">Two Factor Authentication</a>
    </div>
  </div>
</div>

